{% extends 'base.html' %}
{% block content %}

{% comment %} <div class="card p-5 justify-content-center align-items-center">
<h2>Sign up form </h2>
<form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Submit</button>
</form>
</div> {% endcomment %}

<div class="card p-5 m-5 d-flex">
<div class=" card justify-content-center align-items-center p-5 m-5 ">
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2 mx-auto p-3">
                <div class="panel panel-default ">
                    <div class="text-center"><h3>Register</h3></div>
                    <div class="panel-body ">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                       
                        <div class="form-group clearfix m-3 ">
                            <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
                            <div class="col-md-12">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group clearfix m-3">
                            <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
                            <div class="col-md-12">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group clearfix m-3">
                            <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
                            <div class="col-md-12">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="form-group clearfix m-3">
                         <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>
                            <div class="col-md-12">
                                {{ form.password_repeat }}
                            </div>
                        </div>
                        <div class="form-group clearfix m-3">
                            <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">First Name:</label>
                            <div class="col-md-12">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-group clearfix m-3">
                            <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right">Last Name:</label>
                            <div class="col-md-12">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-group clearfix m-3">
                            <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-right">Phone Number:</label>
                            <div class="col-md-12">
                                {{ form.phone_number }}
                            </div>
                        </div>
                        <div class="col-md-12 col-md-offset-4 mt-4">
                            <input type="submit" value="Register" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>


{% endblock content %}